body{
    /* background-color: #eee; */
}

/*
Base Responsive Styling
 */
 /*The following 7 lines are from Paul Irish and apply a border-box model.
 See this page for more info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
 /* apply a natural box layout model to all elements, but allowing components to change */
 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

 /* Basic Responsive Images and Video */
 img,video{
   width: auto;
   height: auto;
   max-width: 100%;
 }


/* Image Attribution */

*, *:before, *:after {
  box-sizing: border-box;
}
.img-container {
  position: relative;
  display: inline-block;
}
img {
  width: 100%;
  max-width: 400px;
}
.img-attrib {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 .5em .5em 0;
  padding: .25em;
  color: white;
  background-color: rgba(0,0,0,.2)
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body {
  padding: 1em;
}
